.cv {

}

.cv .tile-wrapper {
	position: relative;
	width: $tileWidth - ($gutter*2.5);
	height: $tileHeight - ($gutter*2.5);
	box-sizing: border-box;
	float: left;
	margin: $gutter;
	background-color: #fff;
	text-align: center;
	position: relative;

	.image {
		border-radius: 50%;
		height: 150px;
		width: 150px;
		margin-top: $gutter*8;
	}

	.tile-inner {
		box-sizing: border-box;
		padding: $gutter*4;
		width: 100%;
		background-color: #fff;
		float: left;

		.title {
			font-size: 22px;
			margin: 0;
			margin-bottom: 3px;
			font-weight: normal;
			vertical-align: middle;

			&.available {
				&:after {
					content: "";
					background-color: $color-pink;
					float: right;
					height: .7em;
					width: .7em;
					border-radius: 50%;
					position: absolute;
					top: $gutter*5;
					right: $gutter*5;
				}
			}

			&:not(.available) {
				&:after {
					content: "";
					background-color: #bbb;
					float: right;
					height: .7em;
					width: .7em;
					border-radius: 50%;
					position: absolute;
					top: $gutter*5;
					right: $gutter*5;
				}
			}
		}

		.dep, .job {
			font-size: 13px;
			color: #888;
		}

		.job {

		}

		.projects {
			margin-top: .5em;
		}

		h2 {
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0;
			margin-top: 25px;
			margin-bottom: 5px;
		}

		p {
			margin: 0px;
			font-size: 14px;
		}

		.project {
			display: inline-block;
			font-size: 14px;
			padding: .25em .5em;
			border-radius: .25em;
			color: white;
			margin-top: .5em;
			background: $color-pink;
			margin: 3px;
		}

	}
}

