.social {
	font-size: 0;
	display: block;
	height: 100%;
	width: 100%;

	.content-container {
		font-size: 1rem;
		width: 25%;
		height: 25%;
		position: relative;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
	}

	.content {
		position: absolute;
		display: block;
		height: 100%;
	}
}