.touch-cv {

	.department-wrapper {
		margin-top: ($gutter/2)*-1;
		margin-left: ($gutter/2)*-1;
		width: $screenWidth;
		height: $screenHeight;
		overflow: hidden;
		background: #fff;
		text-align: left;
		padding: 8em 8.2em;

		h1 {
			font-size: 2.5em;	
			text-transform: uppercase;
			margin: 0 0 1em 18px;
		}

		h2 {
			margin: 0 0 1em 18px;
		}

		.shortcut {
			border: none;
			font-size: 1.2em;
			text-align: left;
			text-transform: uppercase;
			background: #000;
			color: #fff;
			margin: 1em;
			display: inline-block;
			vertical-align: top;
			position: relative;
			border-radius: 5px;
			cursor: pointer;

			&.pink {
				background: $color-pink;
				color: #fff;
			}

			p {
				padding: 1em 2em;
				font-weight: bold;
			}
		}

		.logo {
			position: absolute;
			right: 7em;
			bottom: 6em;
			width: 170px;
		}

		.touch-indication {
			position: absolute;
			right: 30em;
			bottom: -40px;
			width: 270px;
			opacity: 0.4;
		}
	}

	.result-expl {
		overflow: hidden;

		a {
			color: $color-pink;
			font-size: 1.3em;
			text-decoration: none;
			display: block;
			padding: 20px 0px;
		}

		.result-swipe-indication {
			width: 140px;
			margin-top: 20px;
			position: absolute;
			bottom: -20px;
			left: 50%;
			margin-left: -70px;
			opacity: 0.4;
		}

		.result-logo {
			width: 50%;
			margin: 40px 30px 10px 20px;
		}
	}
}