.touch-cv {

	.tile-wrapper, .result-expl {
		
	}

	.tile-wrapper {

		button {
			color: #fff;
			padding: 0;
			border: none;
			outline: none;
			box-shadow: none;
			font-size: 1em;
			margin-top: 20px;
			background: none;
			padding: 20px;

			img {
				width: 35px;
			}
		}

		.title {

			&.available {
				&:after {
					display: none;
				}
			}

			&:not(.available) {
				&:after {
					display: none;
				}
			}
		}
	}
	
	.department-wrapper {
		margin-top: ($gutter/2)*-1;
		margin-left: ($gutter/2)*-1;
		width: $screenWidth;
		height: $screenHeight;
		overflow: hidden;
		background: #fff;
		text-align: left;
		padding: 8em 8.2em;

		h1 {
			font-size: 2.5em;	
			text-transform: uppercase;
			margin: 0 0 0.2em 18px;
		}

		h2 {
			margin: 0 0 2em 18px;
			color: #aaa;
			font-weight: normal;
		}

		.shortcut {
			border: none;
			font-size: 1.2em;
			text-align: left;
			text-transform: uppercase;
			background: #000;
			color: #fff;
			margin: 1em;
			display: inline-block;
			vertical-align: top;
			position: relative;
			border-radius: 5px;
			cursor: pointer;

			&.pink {
				background: $color-pink;
				color: #fff;
			}

			p {
				padding: 1em 2em;
				font-weight: bold;
			}
		}

		.logo {
			position: absolute;
			right: 6em;
			bottom: 6em;
			width: 170px;
		}

		.touch-indication {
			position: absolute;
			right: 30em;
			bottom: -40px;
			width: 270px;
			opacity: 0.4;
		}
	}

	.result-expl {
		overflow: hidden;

		a {
			color: $color-pink;
			font-size: 1.3em;
			text-decoration: none;
			display: block;
			padding: 20px 0px;
		}

		.result-swipe-indication {
			width: 140px;
			margin-top: 20px;
			position: absolute;
			bottom: -20px;
			left: 50%;
			margin-left: -70px;
			opacity: 0.4;
			transform: scaleX(-1);
		}

		.result-logo {
			width: 70%;
			margin: 50px 30px 40px 30px;
		}

		.result-detail-text {
			margin-top: 40px;

			p {
				color: #888;
			}
		}

		button {
			color: #fff;
			padding: 15px 25px;
			background: $color-pink;
			border: none;
			outline: none;
			box-shadow: none;
			font-size: 1em;
			margin-top: 10px;
		}
	}

	.detail-view {
		text-align: center;
		z-index: 99;

		h1 {
			font-size: 4.5em;
			line-height: 1em;
			margin: 0.5em 0;

			small {
				display: block;
				font-size: 0.5em;
				color: $color-pink;
				margin-bottom: 40px;
			}
		}

		.detail-image {
			border-radius: 50%;
			width: 250px;
			margin-bottom: 20px;
		}

		.background-detail-image {
			border-radius: 50%;
			height: $screenHeight + ($screenHeight/8);
			width: auto;
			position: absolute;
			top: ($screenHeight/10)*-1;
			left: 0;
			margin-left: ($screenWidth/4)*-1;
			opacity: 0.082;
		}

		.detail-text {

	
			p {	
				font-size: 1.8em;
				margin-bottom: 30px;

				strong {
					display: block;
				}
			}
		}

		button.close {
			padding: 0px;
			margin: 0px;
			border: none;
			box-shadow: none;
			background: none;
			font-size: 6em;
			font-weight: 100;
			position: absolute;
			top: 0.5em;
			right: 1em;
			color: #ccc;
		}
	}
}