* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: $wrapperBackground;
	font-family: 'Noto Sans', sans-serif;
}

.wrapper {
	width: $screenWidth;
	height: $screenHeight;
	position: relative;
	background: $wrapperBackground;
	padding: $gutter/2;
	overflow: hidden;
}

.tile {
	height: $tileHeight;
	width: $tileWidth;
	background-color: white;
	float: left;
	border: $gutter/2 solid $wrapperBackground;
	padding: $gutter*3;

	&.half-height {
		height: $tileHeight / 2;
	}

	&.double-width {
		width: $tileWidth * 2;
	}

	&.double-height {
		height: ($tileHeight * 2) + $gutter/2;
	}

	&.quadruple-width {
		width: $tileWidth * 4;
	}
}


