/* --------------------------------
    TABLE OF CONTENTS
-----------------------------------
    Variables
    General

----- */


/* --------------------------------
    Variables
-------------------------------- */


/* --------------------------------
    General
-------------------------------- */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #eee;
	font-family: 'Noto Sans', sans-serif;
}

.wrapper {
	width: $screenWidth;
	height: $screenHeight;
	position: relative;
	background: $wrapperBackground;
	margin: $gutter/2;
}

.tile {
	height: $tileHeight;
	width: $tileWidth;
	background-color: white;
	float: left;
	border: $gutter/2 solid $wrapperBackground;
	padding: $gutter*3;

	&.double-width {
		width: $tileWidth * 2;
	}

	&.double-height {
		height: $tileHeight * 2;
	}
}


