/* --------------------------------
    TABLE OF CONTENTS
-----------------------------------
    General
    Tiles
    Colors
    Typography

----- */

/* --------------------------------
    General
-------------------------------- */
$screenWidth: 1920px;
$screenHeight: ($screenWidth/16)*9;

$gutter: 6px;


/* --------------------------------
    Tiles
-------------------------------- */
$tileWidth: $screenWidth/4;
$tileHeight: $screenHeight/2;


/* --------------------------------
    Colors
-------------------------------- */
$wrapperBackground: #666;
$color-bordeaux: rgb(93, 7, 73);
$color-petrol: rgb(42, 108, 98);
$color-moss: rgb(99, 111, 3);
$color-pink: rgb(232, 50, 120);
$color-green: #6ad665;


/* --------------------------------
    Typography
-------------------------------- */
@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic");