<div class="cv">

	<div class="tile-wrapper" ng-repeat="tile in tiles">
		<img class="image" src="http://placekitten.com/200/100" alt="">
		<div class="tile-inner">
			<h1 class="title" ng-class="{available: tile.available}">{{tile.name}}</h1>
			<span class="dep" ng-show="tile.dep">{{tile.dep}}</span>
			<span class="dep" ng-show="tile.job">{{tile.job}}</span>

			<div class="projects">
				<h1 class="p_title">Prosjekter</h1>
				<span class="project" ng-repeat="p in tile.projects">{{p}}</span>
			</div>
		</div>
	</div>

</div>