<div class="menu">

	<div class="week">Uke 46</div>

	<div class="half-width">
		<div class="menu-text">
			<p><span>Mandag</span>{{menuItems[0].name}}<small>{{menuItems[0].detail}}</small></p>
			<p><span>Tirsdag</span>{{menuItems[1].name}}<small>{{menuItems[1].detail}}</small></p>
			<p><span>Onsdag</span>{{menuItems[2].name}}<small>{{menuItems[2].detail}}</small></p>
		</div>
	</div>

	<div class="half-width">
		<div class="menu-text">
			<p><span>Torsdag</span>{{menuItems[3].name}}<small>{{menuItems[3].detail}}</small></p>
			<p><span>Fredag</span>{{menuItems[4].name}}<small>{{menuItems[4].detail}}</small></p>
		</div>
	</div>

	<img src="http://www.woodlandsinn.org/hotel/halaimages/Food-Safety.jpg" alt="" class="background-detail-image">
	<img ng-src="images/news_logo.png" alt="" class="logo">

</div>