<div class="social">
	<div ng-repeat="content in contents" class="content-container" ng-click="zoom($event)">
		<div class="info">
			<h1 class="title">{{content.info.title}}</h1>
			<p class="text">
				{{content.info.text}}
			</p>
		</div>
		<div class="content-restrictor">
			<img class="content" ng-if="!content.video" ng-src="{{content.url}}" id="{{content.id}}" content="content" content-directive>
			<video class="content video" ng-if="content.video" ng-src="{{content.url}}" id="{{content.id}}" content="content" content-directive></video>
		</div>
	</div>
</div>