<div id="social" class="social">

	<div ng-repeat="content in contents track by content.id" id="{{content.id}}" class="content-container" ng-click="zoom($event)">
		<div class="info" ng-if="content.info">
			<h1 class="title">{{content.info.title | date:'dd.MM.y'}}</h1>
			<p class="text">
				{{content.info.text}}
			</p>
		</div>
		<div class="content-restrictor">
			<img class="content" ng-if="!content.video" ng-src="{{content.url}}" content="content" content-directive>
			<video class="content video" ng-if="content.video" ng-src="{{content.url}}" content="content" content-directive></video>
		</div>
	</div>
</div>